[submodule "Nizhoni/vendor/spdlog"]
	path = Nizhoni/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nizhoni/vendor/glfw"]
	path = Nizhoni/vendor/glfw
	url = https://github.com/TheCherno/glfw
